{{ define "skills" }}
<div class="skills-wrapper">
    <h3 class="column-title">Языки и базы данных</h3>
    <h3 class="column-title">Инфраструктура</h3>
    <h3 class="column-title">Технологии</h3>

    <div class="skills-column-content">
        {{ range .Languages }}
        {{ template "skill-card" . }}
        {{ end }}
    </div>

    <div class="skills-column-content">
        {{ range .Infrastructure }}
        {{ template "skill-card" . }}
        {{ end }}
    </div>

    <div class="skills-column-content">
        {{ range .Technologies }}
        {{ template "skill-card" . }}
        {{ end }}
    </div>
</div>
{{ end }}

{{ define "skill-card" }}
<div class="skill-card" style="--level: {{ .Level }}%;">
    <div class="level-fill">
        <span class="level-percentage">{{ .Level }}%</span>
    </div>

    <span class="skill-name">{{ .Name }}</span>

    <div class="tech-tags">
        {{ range .Tech }}
        <span class="tech-tag">{{ . }}</span>
        {{ end }}
    </div>
</div>
{{ end }}