.section-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 0 0;
    margin: 0;
}

.profile-container {
    max-width: 60%;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem; 
    
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
    border-radius: 0.7rem;

}

.profile-image img {
    border-radius: 50%;
    width: 90px;
    height: auto;
    object-fit: cover;
    float: left;
    margin-right: 1rem;
}

@media only screen and (max-width: 500px) {
    .profile-image img {
        display: none;
    }
}

.profile-info {
    color: #eee;
    text-wrap: wrap;
    max-width: 80%;
    flex: 1;
    overflow: hidden;
    padding: 0 0 5px 5px;
}

.profile-info h2 {
    line-height: 1; 
    margin: 0;
    font-size: 1.5rem;
}

.profile-info p {
    overflow-wrap: break-word;
    hyphens: auto;
    margin: 0.5rem 0;
    color: #a89ec9;
}

.profile-contacts {
    display: flex;
    gap: 1rem;
    margin: 0.5rem 0 0 0;
}



.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #444;
    transition: all 0.3s ease;
}

.social-icon:hover {
    background-color: #ee83e5;
}

.social-icon img {
    width: 20px;
    height: 20px;
    filter: invert(1);
}